## Grandma's bread shop

Try to clusterize the Grandma's bread shop customers by item and by date. Then try to explain how are the clusters (cluster EDA).

In [1]:
import pandas as pd
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv('data/breadbasket_dms.csv')
df.head()

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3            Jam

In [2]:

df=df.drop_duplicates() 
df.shape

(19640, 4)

In [3]:
df.isnull().sum()

Date           0
Time           0
Transaction    0
Item           0
dtype: int64

In [4]:
df['Datetime']=pd.to_datetime(df.Date+' '+df.Time,format='%Y-%m-%d %H:%M:%S')

In [5]:
df['year'] = df['Datetime'].dt.year
df['month'] = df['Datetime'].dt.month
df['day'] = df['Datetime'].dt.day_name()
df['hour'] = df['Datetime'].dt.hour

In [6]:
df[1:3]

,Date,Time,Transaction,Item,Datetime,year,month,day,hour
1,2016-10-30,10:05:34,2,Scandinavian,2016-10-30 10:05:34,2016,10,Sunday,10
3,2016-10-30,10:07:57,3,Hot chocolate,2016-10-30 10:07:57,2016,10,Sunday,10

In [7]:
set(df.day)

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [8]:
weekday_map = {'Monday':1, 'Tuesday':2, 'Wednesday':3, 'Thursday':4, 'Friday':5, 'Saturday':6, 'Sunday':7}
df['day']=df['day'].map(weekday_map)

In [9]:
df.day.unique()

array([7, 1, 2, 3, 4, 5, 6])

In [10]:
df = df.drop(columns=['Date','Time'], axis=1)

In [11]:
df = pd.get_dummies(df, columns=['Item'], drop_first=True)
df

,Transaction,Datetime,year,month,day,hour,Item_Afternoon with the baker,Item_Alfajores,Item_Argentina Night,Item_Art Tray,...,Item_The BART,Item_The Nomad,Item_Tiffin,Item_Toast,Item_Truffles,Item_Tshirt,Item_Valentine's card,Item_Vegan Feast,Item_Vegan mincepie,Item_Victorian Sponge
0,1,2016-10-30 09:58:11,2016,10,7,9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,2016-10-30 10:05:34,2016,10,7,10,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,2016-10-30 10:07:57,2016,10,7,10,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,2016-10-30 10:07:57,2016,10,7,10,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,3,2016-10-30 10:07:57,2016,10,7,10,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21288,9682,2017-04-09 14:32:58,2017,4,7,14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21289,9682,2017-04-09 14:32:58,2017,4,7,14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21290,9683,2017-04-09 14:57:06,2017,4,7,14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21291,9683,2017-04-09 14:57:06,2017,4,7,14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21292,9684,2017-04-09 15:04:24,2017,4,7,15,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
dfG = df.groupby(['Datetime', 'Transaction']).sum()
dfG

,,year,month,day,hour,Item_Afternoon with the baker,Item_Alfajores,Item_Argentina Night,Item_Art Tray,Item_Bacon,Item_Baguette,...,Item_The BART,Item_The Nomad,Item_Tiffin,Item_Toast,Item_Truffles,Item_Tshirt,Item_Valentine's card,Item_Vegan Feast,Item_Vegan mincepie,Item_Victorian Sponge
Datetime,Transaction,,,,,,,,,,,,,,,,,,,,,
2016-10-30 09:58:11,1,2016,10,7,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-10-30 10:05:34,2,2016,10,7,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-10-30 10:07:57,3,6048,30,21,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-10-30 10:08:41,4,2016,10,7,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-10-30 10:13:03,5,6048,30,21,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-04-09 14:24:03,9680,2017,4,7,14,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-09 14:30:09,9681,8068,16,28,56,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2017-04-09 14:32:58,9682,8068,16,28,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-09 14:57:06,9683,4034,8,14,28,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-09 15:04:24,9684,2017,4,7,15,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
from sklearn., 'Datetime'cluster import KMeans

In [15]:
kmeans=KMeans(n_clusters=5).fit(dfG)

In [16]:
dfG['label']=kmeans.predict(dfG)

dfG.head()

,,year,month,day,hour,Item_Afternoon with the baker,Item_Alfajores,Item_Argentina Night,Item_Art Tray,Item_Bacon,Item_Baguette,...,Item_The Nomad,Item_Tiffin,Item_Toast,Item_Truffles,Item_Tshirt,Item_Valentine's card,Item_Vegan Feast,Item_Vegan mincepie,Item_Victorian Sponge,label
Datetime,Transaction,,,,,,,,,,,,,,,,,,,,,
2016-10-30 09:58:11,1,2016,10,7,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2016-10-30 10:05:34,2,2016,10,7,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2016-10-30 10:07:57,3,6048,30,21,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-10-30 10:08:41,4,2016,10,7,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2016-10-30 10:13:03,5,6048,30,21,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
pd.crosstab(dfG.month, dfG.label)

label    0    1    2   3    4
month
1        0  673    0   0    0
2        0  621  482   0    0
3      245  636    0   0    0
4        0  183  517   0  128
5        0    0    0  44    0
6      262    0  611  18    0
7        0    0    0   6    0
8        0    0  164   2  137
9      303    0    0   0    0
10       0   64    0  60    0
11       0  865    0   0    0
12      94  732    0  22  141
14       0    0    0   6    0
15       0    0    0  48    0
16       0    0    0   3   41
18       0    0    0  24    0
20       0    0   60  16    0
21       0    0    0   4    0
22       0    0  706   0    0
24       0    0  561   9    0
28       0    0    0   3    0
30      32    0    0   1    0
33     351    0    0   0    0
36     250    0    0   1    0
40       0    0    0   1   14
44       0    0    0   0  167
48       0    0    0   0  110
50       0    0    0   5    0
55       0    0    0  51    0
60       0    0    0  23    0
66       0    0    0  12    0
72       0    0    0  13    0
77       0    0    0   2    0
84       0    0    0   6    0
120      0    0    0   1    0

In [19]:
pd.crosstab(dfG.day, dfG.label)

label    0    1    2   3    4
day
1        0  484    0   0    0
2        0  503  377   0    0
3      163  455    0   0    0
4        0  516  433   0   84
5        0  574    0  16    0
6      177  806  373   9    0
7        0  436    0   2    0
8        0    0  407   0   63
9      171    0    0   0    0
10       0    0  563  19    0
12     189    0  595   6   87
14       0    0  353   2    0
15     203    0    0  24    0
16       0    0    0   0  100
18     388    0    0   8    0
20       0    0    0  22  100
21     246    0    0   2    0
24       0    0    0  10  166
25       0    0    0  32    0
28       0    0    0   5  138
30       0    0    0  84    0
32       0    0    0   2    0
35       0    0    0  64    0
36       0    0    0  29    0
40       0    0    0   1    0
42       0    0    0  31    0
45       0    0    0   2    0
48       0    0    0   4    0
49       0    0    0   5    0
70       0    0    0   2    0