## Grandma's bread shop

Try to clusterize the Grandma's bread shop customers by item and by date. Then try to explain how are the clusters (cluster EDA).

In [2]:
# Run this code

import pandas as pd

df=pd.read_csv('data/breadbasket_dms.csv')

df.head()

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3            Jam

In [4]:
df['Datetime']=pd.to_datetime(df.Date+' '+df.Time,format='%Y-%m-%d %H:%M:%S')

In [5]:
df['year'] = df['Datetime'].dt.year
df['month'] = df['Datetime'].dt.month
df['day'] = df['Datetime'].dt.day_name()
df['hour'] = df['Datetime'].dt.hour

In [6]:
weekday_map = {'Monday':1, 'Tuesday':2, 'Wednesday':3, 'Thursday':4, 'Friday':5, 'Saturday':6, 'Sunday':7}
df['day']=df['day'].map(weekday_map)

In [7]:
df = df.drop(columns=['Date','Time'], axis=1)

In [8]:
df = pd.get_dummies(df, columns=['Item'], drop_first=True)
df

,Transaction,Datetime,year,month,day,hour,Item_Afternoon with the baker,Item_Alfajores,Item_Argentina Night,Item_Art Tray,...,Item_The BART,Item_The Nomad,Item_Tiffin,Item_Toast,Item_Truffles,Item_Tshirt,Item_Valentine's card,Item_Vegan Feast,Item_Vegan mincepie,Item_Victorian Sponge
0,1,2016-10-30 09:58:11,2016,10,7,9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,2016-10-30 10:05:34,2016,10,7,10,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2016-10-30 10:05:34,2016,10,7,10,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,2016-10-30 10:07:57,2016,10,7,10,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,2016-10-30 10:07:57,2016,10,7,10,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21288,9682,2017-04-09 14:32:58,2017,4,7,14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21289,9682,2017-04-09 14:32:58,2017,4,7,14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21290,9683,2017-04-09 14:57:06,2017,4,7,14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21291,9683,2017-04-09 14:57:06,2017,4,7,14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21292,9684,2017-04-09 15:04:24,2017,4,7,15,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
dfG = df.groupby(['Datetime', 'Transaction']).sum()
dfG

,,year,month,day,hour,Item_Afternoon with the baker,Item_Alfajores,Item_Argentina Night,Item_Art Tray,Item_Bacon,Item_Baguette,...,Item_The BART,Item_The Nomad,Item_Tiffin,Item_Toast,Item_Truffles,Item_Tshirt,Item_Valentine's card,Item_Vegan Feast,Item_Vegan mincepie,Item_Victorian Sponge
Datetime,Transaction,,,,,,,,,,,,,,,,,,,,,
2016-10-30 09:58:11,1,2016,10,7,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-10-30 10:05:34,2,4032,20,14,20,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-10-30 10:07:57,3,6048,30,21,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-10-30 10:08:41,4,2016,10,7,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-10-30 10:13:03,5,6048,30,21,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-04-09 14:24:03,9680,2017,4,7,14,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-09 14:30:09,9681,8068,16,28,56,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2017-04-09 14:32:58,9682,8068,16,28,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-09 14:57:06,9683,4034,8,14,28,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-09 15:04:24,9684,2017,4,7,15,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
from sklearn.cluster import KMeans

In [14]:
kmeans=KMeans(n_clusters=5).fit(dfG)
dfG['label']=kmeans.predict(dfG)

dfG.head()

,,year,month,day,hour,Item_Afternoon with the baker,Item_Alfajores,Item_Argentina Night,Item_Art Tray,Item_Bacon,Item_Baguette,...,Item_The Nomad,Item_Tiffin,Item_Toast,Item_Truffles,Item_Tshirt,Item_Valentine's card,Item_Vegan Feast,Item_Vegan mincepie,Item_Victorian Sponge,label
Datetime,Transaction,,,,,,,,,,,,,,,,,,,,,
2016-10-30 09:58:11,1,2016,10,7,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2016-10-30 10:05:34,2,4032,20,14,20,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-10-30 10:07:57,3,6048,30,21,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
2016-10-30 10:08:41,4,2016,10,7,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2016-10-30 10:13:03,5,6048,30,21,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4