## Grandma's bread shop

Try to clusterize the Grandma's bread shop customers by item and by date. Then try to explain how are the clusters (cluster EDA).

In [1]:
# Run this code
import pandas as pd
df=pd.read_csv('data/breadbasket_dms.csv')
df.head()

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3            Jam

In [2]:
# Your code here
df.shape

(21293, 4)

In [3]:
df=df.drop_duplicates() 
df.shape

(19640, 4)

In [4]:
df.isnull().sum()

Date           0
Time           0
Transaction    0
Item           0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19640 entries, 0 to 21292
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         19640 non-null  object
 1   Time         19640 non-null  object
 2   Transaction  19640 non-null  int64
 3   Item         19640 non-null  object
dtypes: int64(1), object(3)
memory usage: 767.2+ KB

In [6]:
df['Datetime']=pd.to_datetime(df.Date+' '+df.Time,format='%Y-%m-%d %H:%M:%S')

In [7]:
df['year'] = df['Datetime'].dt.year
df['month'] = df['Datetime'].dt.month
df['day'] = df['Datetime'].dt.day_name()
df['hour'] = df['Datetime'].dt.hour

In [8]:
df.head()

,Date,Time,Transaction,Item,Datetime,year,month,day,hour
0,2016-10-30,09:58:11,1,Bread,2016-10-30 09:58:11,2016,10,Sunday,9
1,2016-10-30,10:05:34,2,Scandinavian,2016-10-30 10:05:34,2016,10,Sunday,10
3,2016-10-30,10:07:57,3,Hot chocolate,2016-10-30 10:07:57,2016,10,Sunday,10
4,2016-10-30,10:07:57,3,Jam,2016-10-30 10:07:57,2016,10,Sunday,10
5,2016-10-30,10:07:57,3,Cookies,2016-10-30 10:07:57,2016,10,Sunday,10

In [10]:
df.day.unique()

array(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Saturday'], dtype=object)

In [11]:
weekday_map = {'Monday':1, 'Tuesday':2, 'Wednesday':3, 'Thursday':4, 'Friday':5, 'Saturday':6, 'Sunday':7}
df['day']=df['day'].map(weekday_map)

In [12]:
df.day.unique()

array([7, 1, 2, 3, 4, 5, 6], dtype=int64)

In [ ]:
# Your explanation here